@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');
@import 'normalize.css';

body * {
    box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Lato;
}

nav {
  background-color: #fefefe;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 .25rem .5rem rgba(0,0,0,.25);
}

nav img {
  float: left;
  width: 11%;
  padding: 1rem;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0 1rem;
  float: right;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  padding: 1rem 1rem;
  text-align: center;
  color: #333;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #e9e9e9;
}

nav a.active {
  font-weight: 700;
}

.dropdown {
  float: left;
  overflow: hidden;
  color: #333;
  display: block;
}

.dropdown .dropbtn {
  margin: 0;
  font-size: 1rem;
  border: none;
  outline: none;
  padding: 1rem;
  background-color: inherit;
  font-family: inherit;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fefefe;
  box-shadow: 0 .5rem 1rem 0 rgba(0,0,0,.25);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  padding: 1rem;
  display: block;
  text-decoration: none;
  color: #333;
}

.dropdown-content a:hover,
.dropdown:hover {
  background-color: #e9e9e9;
}

.dropdown:hover .dropdown-content {
  display: block;
}

section {
  padding: 5%;
}

h3 {
  padding: 1rem 0;
}

.hero {
  background-color: #333;
  height: 45vh;
  min-height: 400px;
  color: #fefefe;
  padding: 4rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.hero.home {
  height: 70vh;
}

.button {
  background-color: rgb(181, 181, 181);
  padding: .75rem 3rem;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5%;
}

.card {
  box-shadow: 0 .25rem .5rem 0 rgba(0,0,0,0.2);
  min-width: 250px;
  width: 100%;
  height: 100%;
}

.card img {
  height: auto;
}

.card-caption {
  padding: 1rem;
  text-align: center;
  width: 100%;
}

.partners {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5%;
}

.hero-banner {
  background-color: #333;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.hero-banner img {
   object-fit: contain;
}

form label {
  display: block;
}

form input[type="text"],
form input[type="email"],
form select,
form textarea {
  margin: .25rem 0 1rem 0;
  padding: .5rem;
  border: 1px solid #dfdfdf;
  width: 80%;
  max-width: 1000px;
}

section.take-action-cards {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5%;
}

div.candidates {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5%;
}

div.candidates div p {
  text-align: center;
}

footer {
  background-color: #333;
  padding: 5%;
  display: grid;
  gap: 5%;
  grid-template-columns: 1fr 2fr;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

footer img {
  width: 60%;
}

footer i {
  color: #fefefe;
  font-size: 3rem;
  padding: 5%;
}